@import "tailwindcss";

:root {
  /* Light Theme */

  --primary-bg: #ffffff;      /* dark mode ka black */
  --secondary-bg: #f3f4f6;    /* light gray */
  
  --primary-text: #111827;    /* dark text */
  --secondary-text: #6b7280;  /* gray text */

  --accent: #3b82f6;          /* blue */
}

.dark {
  /* Dark Theme */

  --primary-bg: #0a0a0a;      /* black */
  --secondary-bg: #1f2937;    /* dark gray/card */

  --primary-text: #ffffff;    /* white */
  --secondary-text: #9ca3af;  /* light gray */

  --accent: #3b82f6;          /* same blue */
}

body {
  background-color: var(--primary-bg); 
  color: var(--primary-text);          
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}